In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../dataset/ADNI/data_cleaned.csv")
data = data.set_index("PTID")
data

,RID,EXAMDATE,DX_bl,AGE,PTGENDER,PTEDUCAT,APOE4,CDRSB,ADAS11,ADAS13,...,WholeBrain,Entorhinal,Fusiform,MidTemp,ICV,DX,Month,MRI,PET,DTI
PTID,,,,,,,,,,,,,,,,,,,,,
011_S_0003,3,2005-09-12,AD,81.300000,Male,18,1.0,4.5,22.00,31.00,...,1129830.0,1791.0,15506.0,18422.0,1920690.0,Dementia,0,1,1,0
011_S_0003,3,2006-03-13,AD,81.798630,Male,18,1.0,6.0,19.00,30.00,...,1100060.0,2427.0,14400.0,16972.0,1906430.0,Dementia,6,1,1,0
011_S_0003,3,2006-09-12,AD,82.300000,Male,18,1.0,3.5,24.00,35.00,...,1095640.0,1596.0,14617.0,17330.0,1903820.0,Dementia,12,1,1,0
011_S_0003,3,2007-03-12,AD,82.795890,Male,18,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Dementia,18,0,0,0
011_S_0003,3,2007-09-12,AD,83.300000,Male,18,1.0,8.0,25.67,37.67,...,1088560.0,1175.0,14033.0,16398.0,1903420.0,Dementia,24,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
035_S_7021,7021,2023-03-20,LMCI,68.369863,Female,14,NaN,0.0,17.33,28.33,...,NaN,NaN,NaN,NaN,NaN,MCI,12,0,0,0
131_S_7032,7032,2022-02-24,LMCI,76.800000,Male,16,NaN,2.0,14.00,23.00,...,NaN,NaN,NaN,NaN,NaN,MCI,0,0,1,0
131_S_7032,7032,2023-02-15,LMCI,77.775342,Male,16,NaN,2.5,9.00,16.00,...,NaN,NaN,NaN,NaN,NaN,NaN,12,0,0,0
035_S_7043,7043,2022-03-21,SMC,62.400000,Female,16,NaN,0.0,2.67,4.67,...,NaN,NaN,NaN,NaN,NaN,CN,0,0,1,0
035_S_7043,7043,2023-03-09,SMC,63.367123,Female,16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12,0,0,0

In [3]:
data = data[data["MRI"] == 1][["Month", "MRI"]]
list_ptid = list(data.index.unique())
print(len(list_ptid))
data

1540

            Month  MRI
PTID
011_S_0003      0    1
011_S_0003      6    1
011_S_0003     12    1
011_S_0003     24    1
022_S_0004      0    1
...           ...  ...
037_S_6031      0    1
130_S_6037      0    1
067_S_6045      0    1
168_S_6051      0    1
941_S_6052      0    1

[7043 rows x 2 columns]

In [4]:
files = os.listdir("G:/Dataset/ADNI/coregister_rename")
for ptid in list_ptid:
#     if "023_S_0058" != ptid:
#         continue
    n_mri = len(np.array(data.loc[ptid]).reshape(-1,2))
#     print(np.array(data.loc[ptid]))
    list_image = [filename for filename in files if (ptid in filename and "MRI" in filename) ]
    if n_mri != len(list_image):
        print(ptid, n_mri, list_image)
#     month = int(filename.split("_")[4])
#     ptid = filename[:10]
#     flag = False 
#     try:
#         if data.loc[ptid][data.loc[ptid]["Month"]==month]["MRI"] == 1: